@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  
  section {
    height: auto;
  }

  .home_section {
    padding-top: 100px;
  }
  
  .menu {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 600;
  }

  .navbar{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 28rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
  }

  .navbar ul li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .navbar.active {
    right: 2rem;
    transition: 4rem linear;
  }

  .home_section .image_section img {
    height: 310px;
    width: 310px;
    border-radius: 100%;
    box-shadow: 0 4px 8px rgba(00, 00, 00, 0.3);
  }
  
  .home_section .image_section img:hover {
    height: 320px;
    width: 320px;
    box-shadow: 0 0 16px rgba(245, 209, 4, 0.925);
  }

  .contect_section .container {
    width: 80%;
  }
}

@media (max-width: 480px) {
  #imagescard {
    display: none;
  }

  .home_section .image_section img {
    height: 280px;
    width: 280px;
  }

  .home_section .image_section img:hover {
    height: 290px;
    width: 290px;
    box-shadow: 0 0 16px rgba(245, 209, 4, 0.925);
  }

  .contect_section .image_section {
    display: none;
  }

  .contect_section .form_contaier{
    margin: auto;
    padding: 2rem;
    gap: 0;
  }
}

@media (max-width: 390px) {
  body {
    margin: auto;
  }

  .about_section #aboutuser{
    padding: 4rem 0;
  }

  .education_section .box {
    width: 100%;
  }
  
  .skill_section .second_box {
    width: 100%;
    margin: 4rem 0;
  }

  .contect_section .container {
    width: 100%;
  }

  footer {
    padding: 0 60px;
  }
}
